@font-face {
    font-family: 'FavoritRegular';
    src: url('fonts/ABCFavorit-Regular-Trial.woff2');
}

body {
    font-family: "Times New Roman ";
    color: black;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

.gross {
    font-size: 24rem;
    z-index: -1;
    line-height: 1;
    position: fixed;
    user-select: none;
    color: rgb(0, 0, 82);
    opacity: 1.0;
}

.wrap {
    font-size:5pt;
    overflow-y: auto;
    text-align: justify;
    position: absolute;
    opacity: 0;
    max-height: 98vh
}


/* .focus {
    font-size: 14pt;
    max-width: 100%;
    max-height: 100%;
    right: 0 !important;
    top: 0 !important;
    left: 0 !important;
    margin: 5%;
    overflow-y: auto;
} */